{% load  static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>生徒学習履歴</title>
  <link rel="stylesheet" href="{% static 'frontend/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'frontend/vuedatepicker.css' %}" />
  <script src="{% static 'frontend/vue.js' %}"></script>
  <script src="{% static 'frontend/axios.js' %}"></script>
  <script src="{% static 'frontend/vuedatetime.js' %}"></script>
</head>
<body>
  <h1>生徒学習履歴</h1>
  <div id="app">
     <vue-datepicker-local v-model="info.data.results[0].learningdate"></vue-datepicker-local> 
    <table>
      <thead>
        <tr>
	  <th>生徒ID</th>
	  <th>名前</th>
	  <th>解いた問題数</th>
	  <th>正解数</th>
	  <th>学習時間(分)</th>
	</tr>
      </thead>
      <tbody>
        <tr v-for="record in info.data.results">
	  <td>${ record.student.id }$</td>
	  <td>${ record.student.lastname }$ ${ record.student.firstname }$</td>
	  <td>${ record.questions }$</td>
	  <td>${ record.correct }$</td>
	  <td>${ record.elapsedtime }$</td>
	</tr>
      </tbody>
    </table>
</div>

<script>
new Vue({
  delimiters: ['${', '}$'],
  el: '#app',
  data() {
    return {
      info: null
    }
  },
  mounted () {
    axios.get('/api/history/')
      .then(response => (this.info = response))
  }
})
</script>
</body>

</html>
